/*
 * Copyright (c) 2020 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: Apache-2.0
 */

 &flash0 {
	/*
	 *  flash layout for naya 
	 *
	 * 0x00000000 SoftDevice s140 v7    (156 kB)
	 * 0x00026000 mcuboot partition     (72 kB)
 	 * 0x00038000 image-0 partition     (348 kB)
 	 * 0x0008f000 image-1 partition     (348 kB)
	 * 0x000e6000 scratch partition     (24 kB)
	 * 0x000ec000 Storage partition     (32 kB)
	 * 0x000f4000 DFU boot partition    (48 kB)
	 */

	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		reserved_partition_0: partition@0 {
			label = "SoftDevice";
			read-only;
			reg = <0x00000000 0x00026000>;
		};
		
		mcuboot_partition: partition@26000 {
			label = "mcuboot";
			reg = <0x00027000 0x00012000>;
		};
		
		slot0_partition: partition@38000 {
			label = "image-0";
			reg = <0x00038000 0x00057000>;
		};
		
		slot1_partition: partition@8f000 {
			label = "image-1";
			reg = <0x0008f000 0x00057000>;
		};

		scratch_partition: partition@e6000 {
			label = "image-scratch";
			reg = <0x000e6000 0x00006000>;
		};
		
        /*
         * Storage partition will be used by FCB/LittleFS/NVS
         * if enabled.
         */
		storage_partition: partition@ec000 {
            label = "storage";
            reg = <0x000ec000 0x00008000>;
        };

		boot_partition: partition@f4000 {
			label = "UF2";
			read-only;
			reg = <0x000f4000 0x0000c000>;
		};
	};
};


/ {
	chosen {
		zephyr,code-partition = &reserved_partition_0;
	};
};


/{

	leds {
		compatible = "gpio-leds";
		led0: led_0 {
			gpios = <&gpio0 28 GPIO_ACTIVE_LOW>;
			label = "Red LED";
		};
		led1: led_1 {
			gpios = <&gpio0 03 GPIO_ACTIVE_LOW>;
			label = "Green LED";
		};
		led2: led_2 {
			gpios = <&gpio0 30 GPIO_ACTIVE_LOW>;
			label = "Blue LED";
		};
	};

};

&reg0 {
	// regulator-initial-mode = <NRF5X_REG_MODE_DCDC>;
	status = "okay";
};


&reg1 {
	regulator-initial-mode = <NRF5X_REG_MODE_LDO>;
	status = "okay";
};


&uicr {
	nfct-pins-as-gpios;
	gpio-as-nreset;
	// regout0=<0x05>;
	status = "okay";
};



// &dcdc_regulator {
//     status = "okay";
//     regulator-name = "dcdc-hv";
//     regulator-always-on;
//     regulator-min-microvolt = <3300000>;
//     regulator-max-microvolt = <3300000>;
// };

// nrf_power: power@40000000 {
//     compatible = "nordic,nrf-power";
//     reg = <0x40000000 0x1000>;
// 	status = "okay";
//     dcdcen = <1>;
//     dcdcenhv = <1>;
// };

// &nrf_power {
//     status = "okay";
//     dcdcen = <1>;
//     dcdcenhv = <1>;
// };